<h1>Listing works</h1>

<table>
  <tr>
    <th>Start time</th>
    <th>End time</th>
    <th>Type</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @works.each do |work| %>
  <tr>
    <td><%= work.start_time %></td>
    <td><%= work.end_time %></td>
    <td><%= work.type_id %></td>
    <td><%= work.content %></td>
    <td><%= link_to 'Show', work %></td>
    <td><%= link_to 'Edit', edit_work_path(work) %></td>
    <td><%= link_to 'Destroy', work, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Work', new_work_path %>
